#Prerequisites
*.d

#CompiledObjectfiles
*.slo
*.lo
*.o
*.obj

#PrecompiledHeaders
*.gch
*.pch

#CompiledDynamiclibraries
*.so
*.dylib
*.dll

#Fortranmodulefiles
*.mod
*.smod

#CompiledStaticlibraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app


*Desktop_Qt_5_14_1_clang*
*xcuserdatad
*.pro.user
*.idea*
*.DS_Store
madison/shuv_android9/app/build/*
*/.gradle/
madison/shuv_android9/.gradle/
madison/shuv_android9/gradle/
Build/
madison/TestQuant/Podfile.lock
madison/TestQuant/Pods/
madison/TestQuant/TestQuant.xcworkspace/
madison/shuv_android9/app/.cxx/
madison/shuv_android9/app/release/
blockchain/BCWallet/.gradle/

blockchain/BCWallet/app/.cxx/
blockchain/BCWallet/app/.externalNativeBuild/
blockchain/iosApp/Podfile.lock
blockchain/iosApp/Pods/
blockchain/BCWallet/app/release/

blockchain/bcwallet.ios/Podfile.lock
blockchain/bcwallet.ios/Pods/
blockchain/bcwallet.ios/bcwallet.xcworkspace/
*.torrent
*.dmg
/pics

madison/lftDutch/build-lft-desktop-Desktop-Debug/
madison/lftDutch/lft_desktop/.qmake.stash
madison/lftDutch/lft_desktop/Makefile
xui/build-xui-Desktop-Debug/
megatron/lib/openssl-android/OpenSSL-for-Android-Prebuilt/
madison/shuv_desktop/build-shuv_app_adm_full-Desktop_Qt_5_15_2_clang_64bit-Debug/
madison/TestQuant/TestQuant.xcodeproj/xcshareddata/
madison/lftDutch/build-guiApp-Desktop_Qt_5_15_2_clang_64bit-Debug/

madison/lftDutch/build-draw_fotoframe-Desktop_Qt_5_15_2_clang_64bit-Debug/

madison/lftDutch/build-pricelApp-Desktop_Qt_5_15_2_clang_64bit-Debug/
madison/lftDutch/build-guiApp-Desktop_Qt_5_15_2_clang_64bit-Release/
madison/shuv_desktop/build-shuv_app_adm_full-Desktop_Qt_5_15_2_clang_64bit-Release/
.vscode/
madison/lftDutch/build-getAssets-Desktop_Qt_5_15_2_clang_64bit-Debug/
madison/lftDutch/build-processCard-Desktop_Qt_5_15_2_clang_64bit-Debug/
blockchain/bcwallet.ios/bcwallet.xcodeproj/project.xcworkspace/
blockchain/guiapp/build-blockchain_app_adm-Desktop_Qt_5_15_2_clang_64bit-Debug/
madison/apps/build-generateCard-Desktop_Qt_5_15_2_clang_64bit-Debug/

madison/apps/box-config/
madison/apps/build-box-app-Desktop_Qt_5_15_2_clang_64bit-Release/.qmake.stash
madison/apps/build-box-app-Desktop_Qt_5_15_2_clang_64bit-Release/Makefile
madison/apps/build-box-app-Desktop_Qt_5_15_2_clang_64bit-Release/moc_mainwindow.cpp
madison/apps/build-box-app-Desktop_Qt_5_15_2_clang_64bit-Release/moc_predefs.h
madison/apps/build-box-app-Desktop_Qt_5_15_2_clang_64bit-Release/ui_mainwindow.h
madison/apps/build-box-config-Desktop_Qt_5_15_2_clang_64bit-Release/
madison/lftDutch/


CMakeLists.sublime-workspace
CMakeLists.txt.user
madison/test/drawCard/conf/med/narco/lft/11-346-med.narco.lft-US_letter.js
madison/test/drawCard/conf/med/narco/lft/11-346-med.narco.lft-US_letter.pdf
megatron/corelib/tmp/
megatron/modules/referrerClient/test/test-referrer-client
megatron/z
svs/sintest/sintest.7z
tests/proton