#Prerequisites
*.d

#CompiledObjectfiles
*.slo
*.lo
*.o
*.obj

#PrecompiledHeaders
*.gch
*.pch

#CompiledDynamiclibraries
*.so
*.dylib
*.dll

#Fortranmodulefiles
*.mod
*.smod

#CompiledStaticlibraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app


*Desktop_Qt_5_14_1_clang*
*xcuserdatad
*.pro.user
*.idea*
*.DS_Store
*/.gradle/
Build/
*.torrent
*.dmg
/pics

